/* COMMON */
.body__container {
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#2c3e50;
    background: #ecf0f1;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* SECTION & INNER */
.section {
    position: relative;
}
.section .inner {
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* #toggle-btn  */
#toggle-btn {
    text-indent: -9999px;
}

/* SUMMARY */
.summary {
    text-align: center;
}
.summary__title {
    font-size :98px;
    font-weight: 600;
    line-height: 1.25;
}
.summary__description {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
}



/* HEADER */
header {
    border-bottom: 1px solid rgba(0,0,0,.75);
    box-shadow: 0 0 5px rgba(0,0,0,.75);
    background: #2c3e50;
    color:#ecf0f1;
}
header .inner {
    height: 78px;
}
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .logo {
    margin-left: 10px;
    font-size: 70px;
}
header .logo a {
    color:#ecf0f1;
}
header .logo a:hover {
    color:#f1c40f;
}
header .sign-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .Btn-group {
    display: flex;
    order: 1;
}
header .Btn-group .sign-in {
    margin-right: 14px;
}
header .sub-menu {
    display: flex;
    margin-right: 14px;
}
header .sub-menu li a {
    padding: 8px;
    display: block;
    font-size: 20px;
    color: #ecf0f1;
}
header .sub-menu li a:hover {
    color: #f1c40f;
}

/* VISUAL */
.section--visual {
    background: #f1c40f;
}
.section--visual .inner {
    padding: 10px;
}
.section--visual .summary__title {
    /* text-shadow: 0 1px 1px rgba(0,0,0,.25); */
}
.section--visual .summary__description {

}

/* FEATURE */
.section--feature {

}
.section--feature .inner {
    padding: 20px;
}
.section--feature .summary__feature {
    text-align: left;
}
.section--feature .summary__title{
    font-size: 40px;
}
.section--feature .summary__description {
    font-size: 20px;
}
.section--feature .tiles {
    border-bottom: 2px solid #2c3e50;
}
.section--feature .tiles .inner {
    max-width: 800px;
}
.section--feature .tiles ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section--feature .tiles li {
    padding: 10px 24px;
    text-align: center;
    line-height: 1.5;
    background: #f1c40f;
    border: 3px solid black;
    box-sizing: border-box;
    margin:0 5px;
}
.section--feature .tiles li img {
    max-width: 100%;
    padding: 14px 10% 24px;
    box-sizing: border-box;
}
.section--feature .tiles li h3 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* SELECT MENU */
.section--menu {
    background: #ffffff;
}
.section--menu .inner {
    padding:20px 10px;
}
.section--menu .menu {
    border: 4px solid #f1c40f;
    border-radius: 30px;
    background:#2c3e50 ;    
    padding:10px;
}
.section--menu .menu ul {
    margin: 0 auto;
    max-width: 800px;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section--menu .menu li {
    margin:5px;
    padding: 10px 10px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
}
.section--menu .menu li img {
    max-width: 100%;
    padding: 14px 10% 24px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
    background: #ffffff;
}
.section--menu .menu li h3 {
    color:#ffffff;
}